<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeInfo.imagePath" alt="" class="img-responsive" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeInfo.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button 
                type="button" 
                class="btn btn-success dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="onAddtoSList()">Add to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipeInfo.description}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Ingredients</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeInfo.ingredients">
                {{ ingredient.name }} - {{ ingredient.quantity}}
            </li>
        </ul>
    </div>
</div>