<h1>Hello World, Welcome to Angular</h1>
<my-first-comp></my-first-comp>
<br>
<generated-component></generated-component>
<br>
<app-string-interpolation></app-string-interpolation>
<br>
<app-directives></app-directives>


<!--
1. AppComponent (app.component.ts) has a selector <app-root>
2. This <app-root> is used in index.html file, which renders the app.component.html on the web page
3. Thus all the newly defined component selector can be used here in app.component.html
4. which in turn renders all the components called from app.component.html
-->