1. Example of ngIf Directive <br><br>
<app-ng-if></app-ng-if> 

<br>
<br>

2. Example of hidden Property in HTML  <br><br>
<app-hidden></app-hidden>

<br>
<br>

3. Example of ngSwitchCase <br><br>
<app-ng-switch-case></app-ng-switch-case>

<br>
<br>

4. Example of ngFor <br><br>
<app-ng-for></app-ng-for>

<br>
<br>

5. Example of ngFor Change Detection <br><br>
<app-ngfor-change-detection></app-ngfor-change-detection>

<br>
<br>

6. Example of ngFor and TrackBy <br><br>
<app-ngfor-trackby></app-ngfor-trackby>

<br>
<br>

7. Why Leading Asterick is used for Structural Directives  <br><br>
<app-leading-asterisk></app-leading-asterisk>

<br>
<br>

8. Example of ngClass Attribute directive <br><br>
<app-ng-class></app-ng-class>

<br>
<br>

9. Example of ngStyle Attribute directive <br><br>
<app-ng-style></app-ng-style>

<br>
<br>

10. Example of Safe Traversal Operator <br><br>
<app-safe-traversal-operator></app-safe-traversal-operator>

<br>
<br>

11. Example of Custom Directive <br><br>
<app-custom-dir-component></app-custom-dir-component>

<br>
<br>


12. Zippy Component Assignment <br><br>
<zippy [title]="'Welcome to Zippy Component'">
    <h5>Royal Challengers Bangalore</h5><br>
    <p>Fan: Suraj M Janmane</p>
</zippy>