<div class="row">
    <div class="col-xs-12">
        <img src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939_1280.jpg" alt="" class="img-responsive" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn btn-success dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Recipe Description</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Recipe Ingredients</h3>
    </div>
</div>