<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="accName">Account Name</label>
            <input id="accName" type="text" class="form-control" #accountName>
        </div>
        <hr>
        <div class="form-group">
            <select class="form-control" #status>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="hidden">Hidden</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="onCreate(accountName.value, status.value)"> Add Account</button>
    </div>
</div>
