<div>
    <h1 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>User Database</b></h1>
    <br>
    <fieldset style="background-color:rgb(235, 135, 135)">
        <br>
        <div style="padding-left: 10px;">
            Name : <input type="text" ng-model="emp.Name" />
            Gender : <input type="text" ng-model="emp.Gender" />
            Salary : <input type="number" ng-model="emp.Salary" />
        </div>
        <p />
        <div style="padding-left: 10px;">
            <input type="button" value="Update Employee" ng-click="updateEmployee()" />
            <input type="button" value="Add Employee" ng-click="addEmployee()" />
            <input type="button" value="Refresh" ng-click="getEmployees()" />
            <input type="button" value="Clear Details" ng-click="clear()" />
            <span ng-bind="error" class="message"></span>
        </div>
        <p />
    </fieldset>


    <div>
        <br>
        <div class="options">Search : <input type="text" ng-model="searchText.Name" placeholder="Search User Name" /></div>
        <div class="options1">Hide Salary : <input type="checkbox" ng-model="hideSalary" /></div>
        <div class="options2">Enable Editting : <input type="checkbox" ng-model="hideEditting" /></div>
        <br><br>
    </div>

    <fieldset>
        <legend>Employees</legend>
        <table style="width:100%; padding: 5pt">
            <tr class="heading">
                <th ng-click="ColumnSort('ID')"> ID <div ng-class="getSortClass('ID')"></div></th>
                <th ng-click="ColumnSort('Name')"> Name <div ng-class="getSortClass('Name')"></div></th>
                <th ng-click="ColumnSort('Gender')"> Gender <div ng-class="getSortClass('Gender')"></div></th>
                <th ng-click="ColumnSort('Salary')" ng-hide="hideSalary"> Salary <div ng-class="getSortClass('Salary')"></div></th>
                <th ng-hide="hideEditting"></th>
            </tr>
            <tr ng-repeat="e in emps | filter: searchText | orderBy : sortColumn : reverseSort">
                <td>{{ e.ID }}</td>
                <td>{{ e.Name }}</td>
                <td>{{ e.Gender }}</td>
                <td ng-hide="hideSalary">{{ e.Salary | currency : '₹ ':0 }}</td>
                <td ng-hide="hideEditting">
                    <button ng-click="editEmployee(e.ID)">Edit</button>
                    <button ng-click="deleteEmployee(e.ID)">Delete</button>
                </td>
            </tr>
        </table>
    </fieldset>
</div>