.header {
    width : 800px;
    height : 80px;
    text-align : center;
    background-color: #BDBDBD;
}

.links {
    width : 150px;
    height : 500px;
    background-color: #D8D8D8;;
}

.main_content {
    width : 650px;
    height : 500px;
    background-color: #E6E6E6;
}

.footer {
    width : 800px;
    height : 20px;
    text-align : center;
    background-color: #BDBDBD;
} 

a {
    display : block;
    padding : 5px;
}

table {
    border : 1px solid black;
}